*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 90px;
    margin-bottom: 50px;
}

.header{
    font-size: 50px;
}
.strong{
    font-weight: bolder;
    display: inline-block;
}

.light{
    font-weight: 100;
    display: inline-block;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.info{
    font-size: 12px;
}

.sub-header-1{
    margin-top: 10px;
    font-weight: bold;
}

.sub-context-1{
    font-size: 12px;
    margin-top: 5px;
}

.sub-header-2{
    margin-top: 20px;
    font-weight: bold;
}

.lists{
    margin-top: 15px;
    margin-left: 400px;
    display: inline-block;
}

.left-list{
    display: inline-block;
}

.right-list{
    display: inline-block;
    margin-left: 100px;
}

.sub-header-3{
    margin-top: 20px;
    font-weight: bold;
}

.inline-header-1{
    display: inline-block;
    margin-top: 10px;
}

.inline-header-2{
    display: inline-block;
    margin-left: 50px;
}

.sub-context-2{
    margin-left: 195px;

}

.list-header-strong{
    display: inline-block;
    font-weight: bold;
}

.list-header-light{
    display: inline-block;
    font-weight: 100;
}

.lists-2{
    margin-left: 30px;
    margin-top: 5px;
}

.sub-header-4{
    margin-top: 10px;
    font-weight: bold;
}

.inline-header-3{
    display: inline-block;
}

.inline-header-4{
    display: inline-block;
    margin-left: 50px;
}

.list-header-2-strong{
    font-weight: bold;
    display: inline-block;
}

.list-header-2-light{
    font-weight: 100;
    display: inline-block;
}

.sub-context-3{
    margin-left: 195px;
}

.lists-3{
    margin-left: 30px;
    margin-top: 5px;
}

.sub-header-5{
    margin-top: 10px;
    font-weight: bold;
}

.sub-header-5-strong{
    display: inline-block;
    margin-left: 150px;
}

.sub-header-5-light{
    display: inline-block;
    font-weight: 100;
}

.sub-header-5-inline{
    display: inline-block;
    margin-top: 10px;
}

.sub-context-5{
    margin-left: 190px;
}

.sub-context-5-strong{
    display: inline-block;
    font-weight: bold;
}

.sub-context-5-light{
    display: inline-block;
    font-weight: 100;
}

.sub-header-6{
    margin-top: 10px;
    font-weight: bold;
}

.lists-4{
    margin-top: 10px;
    margin-left: 224px;
}